// Definición de variables de colores
$color-blanco: #F8F8F8;
$color-blanco2: #FCFCFC ;
$color-blanco3: #F2F2F2;
$color-gris-claro: #EAEAEA;
$color-gris-oscuro: #333333;
$color-negro: #1A1A1A;
$color-negro2: #212121;
$color-negro3: #1E1E1E;
$color-negro3: #141414;
$color-negro3: #2B2B2B;
$color-negro-oscuro: #01070D;
$color-azul-oscuro: #0A2342;
$color-azul-oscuro2: #063573;
$color-azul-medio: #4E7AC7;
$color-azul-claro: #A4B6D6;


// fuentes

// Uso de las variables de colores
// body {
//   background-color: $color-azul-oscuro;
//   color: $color-blanco;
// }

// .navbar {
//   background-color: $color-azul-medio;
// }

// .footer {
//   background-color: $color-azul-claro;
// }

// y así sucesivamente...
